html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


body {
  /* swap out this image for autumn-blur50.jpg to see blurred background */
    background-size: cover;
    background: url(img/dumpling_2.jpg) no-repeat center center;
    color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}


