{% extends 'base.html' %}

{% block title %} Level 2 search {% endblock %}


{% block content %}


<h1>What are you looking for today?</h1>

<form action='/advanced_search'>
    <input type='text' name='chosen_location' value='location'>
    <input type='submit' />
</form>
<br>
<br> 
<form action='/advanced_search'>
    <input type='radio' name='traditional' value='feature_5'>traditional food
    <input type='radio' name= 'traditional' value='feature_6'>fusion cuisine
    <br> 
    <br>
    <br>
    <input type='radio' name='sophistication' value='Simple'>Simple
    <input type='radio' name= 'sophistication' value='Sophisticated'>Sophisticated
    <br> 
    <br>
    <br>
    <input type='radio' name='outside' value='Outside seating'>Outside seating
    <br> 
    <br>
    <br>
    <input type='radio' name='brunch' value='Brunch'>Brunch
    <br> 
    <br>
    <br>
    <input type='radio' name='tablecloth' value='Tablecloth'>Tablecloth
    <br> 
    <br>
    <br>
    <input type='radio' name='ambience'>ambience/decoration
    <input type='submit' />
</form>



{% endblock %}