{% extends 'base.html' %}

{% block title %} Level 2 search {% endblock %}


{% block content %}


<h1>What are you looking for today?</h1>

<form action='/advanced_search'>
    <div class='submit'>
    <input type='text' name='chosen_location' value='location'>
    <input type='submit' />
    </div>
</form>
<br>
<br> 
<form action='/advanced_search'>
    <div class='categories'>
    <input type='radio' name='traditional' value='feature_5'>Traditional food
    <br>
    <br>
    <input type='radio' name= 'traditional' value='feature_6'>Fusion cuisine 
    <br>
    <br>
    <input type='radio' name='sophistication' value='Simple'>Simple
    <br>
    <br>
    <input type='radio' name= 'sophistication' value='Sophisticated'>Sophisticated 
    <br>
    <br>
    <input type='radio' name='outside' value='Outside seating'>Outside seating
    <br>
    <br>
    <input type='radio' name='brunch' value='Brunch'>Brunch
    <br>
    <br>
    <input type='radio' name='tablecloth' value='Tablecloth'>Tablecloth
    <br>
    <br>
    <input type='radio' name='ambience'>Ambience/Decoration
    </div>
    <div class='submit'>
    <br>
    <input type='submit' />
    </div>
</form>



{% endblock %}