{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %} 

<form action='/login' method= "POST">
<br>
Enter your information:
<br>
<br>
    
email: 
    <div class='forms'>
        <input type='text' name='email'>
    </div>
<br>
password: 
    <div class='forms'>
        <input type='password' name='password'>
    </div>
<br>
<div class='forms'>
<input type='submit' value='submit'>
</div>


<h3><a href='/registration'>Click here to register</a></h3>

</form>


{% endblock %}