{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %} 

<h1>Please register to create an account</h1>

<form action="/registration" method=POST>
  First name:<br>
  <div class='forms'>
  <input type="text" name="fname">
  </div>
  Username:<br>
  <div class='forms'>
  <input type="text" name="username">
  </div>
  Email:<br>
  <div class='forms'>
  <input type="text" name="email">
  </div>
  Password:<br>
  <div class='forms'>
  <input type="password" name="password">
  </div>
  Phone number:<br>
  <div class='forms'>
  <input type="tel" name="phone" placeholder="123-456-7890"> </div><h4>Add phone number to receive SMS with specials/promotions from your favorite restaurants </h4>
  <br>
  <br>
  <div class='forms'>
  <input type="submit" value="Submit">
  </div>

</form>


{% endblock %}