{% extends 'base.html' %}

{% block title %} Registration {% endblock %}

{% block content %} 

<h1>Please register to create an account</h1>
<br>
<br>

<form action="/registration" method=POST>
  First name:<br>
  <div class='forms'>
  <input type="text" name="fname">
  </div>
  <br>
  Username:<br>
  <div class='forms'>
  <input type="text" name="username">
  </div>
  <br>
  Email:<br>
  <div class='forms'>
  <input type="text" name="email">
  </div>
  <br>
  Password:<br>
  <div class='forms'>
  <input type="password" name="password">
  </div>
  <br>
  Phone number:<br>
  <div class='forms'>
  <input type="tel" name="phone" placeholder="123-456-7890">
  <br>
  <br>
  <div class='forms'>
  <input type="submit" value="Submit"> <h5><a href='/vendors_registration'>Are you a restaurant administrator or a vendor?</a></h5>
  </div>
  <br>

</form>


{% endblock %}